<body>
	<div class="home container d-flex justify-content-center align-items-center">
		<main>
			<form action="chat">
				<h3>Chat App</h3>
				<div class="d-flex flex-column">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" placeholder="Enter username..." required />
				</div>
				<div class="d-flex flex-column">
					<label for="room">Room</label>
					<select name="room" id="room">
						{{#each rooms}}
						<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
				<button type="submit" class="button">Join Chat</button>
			</form>
		</main>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
		integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script src="./js/main.js"></script>
</body>