@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: rgba(0,0,0, 0.9);
	--dark-color-b: rgba(0,0,0, 0.9);
	--light-color: #000;
	--dark-background-color:#000;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  font-family:"Roboto";
  box-sizing: border-box;
  font-weight:bold;
}


html{
	background:var(--dark-background-color);
}

body {
  font-family: "Open Sans";
  padding: 0;
  background: #363a3e;
  margin: 0;
	font-size: 16px;
	margin: 20px;
}

ul {
  list-style:none;
  padding:0;
}

h1,h2,h3,h4,h5,h6{
  font-weight:bold;
  color:#fff;
}

.container-fluid{
  overflow-x:hidden;
}

a{
  color:#7288da;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

form{
  margin:0;
}

button:focus {
  outline: 0;
  box-shadow: none;
}